/* CSS For Printing */
#subject{
    text-align: center;
    width: auto;
    font-size: 15px;
    /* height: 10px; */
}

#eventsChart{
    width: auto;
    /* height: 230px; */
}

#epochtitle{
    text-align: center;
    width: auto;
    font-size: 15px;
}

#timeline_chart{
    width: auto;
    /* height: 100px; */
}