/* CSS For Printing */
#eventsChart{
    position: block;
    width: auto;
    height: 380px;
}

#epochtitle{
    width: auto;
    height: 10px;
}

#timeline_chart{
    width: auto;
    height: 800px;
}